@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--segundary-back-color);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    list-style: none;
}

:root {
    /* Background Colors */
    --primary-back-color: #ffffff;
    --segundary-back-color: #0a0909;

    /* Nature Colors */
    --nature-white:   #F2F2F2;
    --nature-green_0: #A7F2AC;
    --nature-green_1: #0BD904;
    --nature-green_2: #0ABF04;
    --nature-green_3: #09A603;

    /* Foods Colors */
    --red-color: #F21905;
    --yellow-color: #F0E71B;
    
    /* Gray Colors */
    --gray-color_0: #F2F2F2;
    --gray-color_1: #D9D9D9;
    --gray-color_2: #737272;
    --gray-color_3: #262524;
    --gray-color_4: #0D0D0D;
}

body {
    background-color: var(--primary-back-color);
}

.full_window, .slide, .slide_view  {
    width: 100vw;
    min-height: calc(100vh - 105px);
}
