/* Product informations styles start's here */

section.product_layer {
    background-color: var(--primary-back-color);
}

section.product_layer .productInfo {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

section.product_layer .imgs {
    display: flex;
}

section.product_layer .imgSlide {
    display: flex;
    flex-direction: column;
}

section.product_layer .itemImg {
    padding: 0.2rem;
    border: 3px solid #000;
    margin: 0.3rem;
    width: 60px;
    border-radius: 0.3rem;
    aspect-ratio: 1 / 1;
}

section.product_layer .itemImg img {
    width: 100%;
}

section.product_layer .preview {
    margin: 1rem;
}

section.product_layer .itemImg.active {
    box-shadow: 0 0 5px var(--blue-color),
                0 0 10px var(--blue-color),
                0 0 15px var(--blue-color);
}

section.product_layer .imgPreview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    aspect-ratio: 1 / 1;
    max-width: 500px;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid #000;
}

section.product_layer .info {
    max-width: 600px;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.product_layer .info h2 {
    color: var(--blue-color);
    font-size: 2rem;
}

section.product_layer .info .brand {
    font-weight: 700;
}

section.product_layer .info .stars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem;
}

section.product_layer .info .valor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

section.product_layer .info .about {
    padding: 1rem;
}

section.product_layer .info .about p {
    font-weight: 800;
    font-size: 1.4rem;
}

section.product_layer .info .about li {
    list-style: disc;
    margin-left: 1rem;
}



section.product_layer .buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    max-width: 400px;
    padding-left: 2rem;
    border-left: 2px solid #000;
}

section.product_layer .buy .value {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section.product_layer .buy .entrega {
    font-weight: 600;
}

section.product_layer .buy .entrega span {
    color: var(--blue-color);
}

section.product_layer .buy .estoque {
    font-weight: 600;
    padding: 1rem 0;
}

section.product_layer .buy .quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    font-weight: 600;
}

section.product_layer .buy .quantidade input {
    width: 100px;
    padding: 0.3rem;
}

section.product_layer .buy button {
    width: 300px;
    margin: 1rem auto;
    padding: 0.6rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 2rem;
    border: 2px solid #000;
}

section.product_layer .buy #add {
    background-color: #f2eb29;
}

section.product_layer .buy #buy {
    background-color: #fba300;
}

section.product_layer .buy button:hover {
    box-shadow: 1px -1px 10px #999;
}

/* Product informations styles end's here */


/* Product Answers styles start's here */

section.product_layer .perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    margin: auto;
    margin-top: 1rem;
    max-width: 1800px;
    padding: 1.5rem 1rem; 
}

section.product_layer .perguntas .area {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

section.product_layer .perguntas .area > div {
    width: 100%;
}

section.product_layer .perguntas .area > div > div {
    width: 100%;
    max-width: 900px;
    margin: 1rem auto;
    border: 2px solid #000;
    border-radius: 1rem;
    padding: 1rem;
}

section.product_layer .perguntas .area .perguntaItem .content {
    display: flex;
    justify-content: space-between;
}

section.product_layer .perguntas .area .perguntaItem .content span {
    font-weight: 700;
}

section.product_layer .perguntas .area .resposta  {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

section.product_layer .perguntas .area .resposta:nth-child(odd) {
    background-color: #ddd;
}

section.product_layer .perguntas .area .resposta span {
    font-weight: 700;
}

section.product_layer .perguntas .area .answers .red {
    font-weight: 700;
    color: var(--red-color);
}

section.product_layer .perguntas .answerInput {
    display: flex;
    justify-content: center;
    margin: 0.8rem;
    gap: 1.5rem;
}

section.product_layer .perguntas .answerInput input {
    padding: 0.5rem 0.7rem;
    width: 80%;
    max-width: 350px;
    border-radius: 0.5rem;
    border: 2px solid #000;
}

section.product_layer .perguntas .answerInput button {
    background-color: var(--blue-color);
    color: var(--primary-back-color);
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.1rem;
}

section.product_layer .perguntas .answerInput button:hover {
    box-shadow: 0 0 5px var(--blue-color),
                0 0 10px var(--blue-color);
}

section.product_layer .search label {
    font-weight: 700;
    font-size: 1.4rem;
}

section.product_layer .search input {
    padding: 0.5rem 0.7rem;
    width: 80%;
    max-width: 350px;
    border-radius:  0 0.5rem 0.5rem 0;
    border: 2px solid #000;
}

section.product_layer .search .search_content {
    display: flex;
    margin: 0.5rem 0;
}

section.product_layer .search button.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.4rem;
    border: 2px solid #000;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--blue-color);
    font-size: 1.6rem;
}

section.product_layer .search button.pergunta {
    margin-left: 1rem;
    width: 200px;
    font-weight: 600;
    background-color: var(--yellow-color);
    border: 2px solid #000;
    border-radius: 0.5rem;
}

section.product_layer .answers.active {
    background-color: red;
}

section.product_layer .avaliacaoItem {
    display: flex;
    justify-content: space-around;
    padding: 0.7rem;
    margin: 0.7rem auto;
    width: 90%;
    max-width: 1800px;
    gap: 1rem;
}

section.product_layer .avaliacaoItem:nth-child(odd) {
    background-color: #ddd;
}

section.product_layer .avaliacaoItem span {
    font-weight: 700;
}

section.product_layer .avaliacoes {
    padding: 1rem 0;
}

section.product_layer .avaliacoes h3 {
    width: 90%;
    max-width: 1800px;
    margin: 1rem auto;
}

section.product_layer .avaliacoes hr {
    width: 100%;
    height: 1px;
    max-width: 1800px;
    margin: auto;
}

section.product_layer h3 {
    width: 100%;
    max-width: 1800px;
    font-weight: 800;
    font-size: 1.8rem;
    margin: 1rem auto;
}

section.product_layer .nenhum {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.avaliacaoItem .avaliacoesStars:nth-child(3) {
    display: flex;
    align-items: center;
    width: 100px;
    gap: 0.3rem;
}

.avaliacaoItem p:nth-child(2) {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 1rem;
}

.avaliacaoItem p:nth-child(1) {
    width: calc(100% - 200px);
}

.avaliacoesStars {

}

.avaliacoesStars *:nth-child(n+6) {
    display: none;
}

/* Product Answers styles end's here */


/* Product Avaliations styles start's here */

/* Product Avaliations styles end's here */
